@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
  font-family: 'Montserrat', sans-serif
}

body{
  background-color: #353535;
}


input{
  outline: none;
  border: none;
}


.button{
  display: block;
  padding: 15px 20px;
  color: #fff;
  font-size: 20px;
  background-color: #f4c574;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  &:hover{
    border-bottom: 3px solid #000;
    transition: ease-out .2s;
  }
}

.homepage{
  display:flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-logo,&-text{
    text-align: center;
    color: #fff;
    font-size: 30px;

  }
  &-button{
    display: block;
    box-sizing: content-box;
    padding: 20px;
  }
}

.site-create{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  .form{
    width: 100%;
    max-width: 400px;
    &-row {
      max-width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      .input{
        width: 100%;
        margin-bottom:20px ;
        position: relative;
        &-legend{
          margin-bottom: 10px;
          font-size: 13px;
        }
        &-control{
          box-sizing: border-box;
          padding: 9px;
          border-radius: 2px;
          display: block;
          width: 100%;
          &-button{
            outline: none;
            border: 0px;
          }
        }
        &-domain{
          display: flex;
          .input-control{
            min-width: 50%;
            &.subdomain{
              border-radius: 2px 0 0 2px;
              text-align:right;
              padding-right: 0px;
            }
            &.domain{
              padding-left: 2px;
              background-color: #fff;
              border-radius: 0px 2px 2px 0px;
              color: #f4c574;
              user-select: none;
            }
          }
        }
      }
    }
  }

}

