
$input-range-primary-color: #2779bd;
$input-range-font-family: 'Open Sans', san-serif !default;
$input-range-slider-transition: transform 0.3s ease-out, box-shadow 0.3s ease-out !default;
$input-range-track-transition: left 0.3s ease-out, width 0.3s ease-out !default;

@import '~react-input-range/src/scss/input-range/input-range-variables';

@import '~react-input-range/src/scss/input-range/input-range-slider';
@import '~react-input-range/src/scss/input-range/input-range-label';
@import '~react-input-range/src/scss/input-range/input-range-label-container';
@import '~react-input-range/src/scss/input-range/input-range-track';

.input-range{
  position:relative;
  @apply p-8;
}