@tailwind preflight;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic');

@import "compontents/input-range";
@import "compontents/buttons";
@import "compontents/checkbox";

body{
  @apply .bg-grey-lightest .font-sans;
}
a{
  @apply .text-white .no-underline;
}

h1,h2,p,span{
  @apply .text-black;
}

.c-header{
  @apply .shadow .bg-blue .text-white .font-sans .pt-2;
    &-top{
      @apply .p-4 .border-b;
      &__logo{
        @apply .text-2xl .font-extrabold;
        text-align: left;
      }
      &__phone {
        @apply .text-xl;
        text-align: right;
      }
      &__weather {
        @apply .text-xl;
      }
    }
    &-menu{
      .menu-list{
        @apply .list-reset;
        &__item{
          @apply  .font-light .p-4 .text-lg;
          &:hover{
            @apply .bg-blue-dark;
          }
        }
      }
    }
    &-account{
      @apply .p-4;
      &__link{
        @apply .font-medium .ml-2;
      }
    }
}

.form{
  @apply .mx-auto .p-6 .mt-6 .relative .bg-white .shadow-md .text-grey-darkest;
  &__title{
    @apply .text-grey-darkest .mb-4;
  }
  &-field{
    @apply flex items-center mb-6;
    &__label{
      @apply block text-grey font-bold mb-1 pr-4;
    }
    &__text{
      @apply bg-grey-lighter appearance-none border-2 border-grey-lighter rounded w-full py-2 px-4 text-grey-darker;
      &:hover{
        @apply border-grey-darkest;
      }
    }
  }
}

.profile{
  h1.title{
    @apply .text-grey-darkest .p-6;
  }
}
.grid-2-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.coach{
  @apply p-4;
}


.cover-image{
  @apply bg-cover w-1/3 bg-grey-light p-4 h-24 text-black bg-cover;
  min-height: 200px;
}

.pagination{
  @apply flex list-reset border border-grey-light rounded w-auto font-sans;
  &__link{
    @apply block text-blue border-r border-grey-light px-3 py-2;
      &:hover{
      @apply text-white bg-blue;
    }
    &.active{
      @apply text-white bg-blue;
    }
    &.disabled{
      @apply text-white bg-grey-light;
    }
  }
}

.breadcrumbs{
  @apply p-3 rounded font-sans w-full m-4;
  &-list{
    @apply  list-reset flex text-grey-dark;
    &__item{
      @apply text-blue;
      &:after{
        content: '/';
        @apply mx-2;
      }
      &.active{
        @apply text-black;
        &:after{
          content: '';
        }
      }
    }
  }
}

.reserve-stages{
  @apply .flex .justify-between;
  &__item{
    @apply p-4 bg-grey rounded;
    &.active{
      @apply bg-blue text-white;
    }
  }
}

.calendar{
  @apply shadow-md w-full mx-auto;
  max-width: 365px;
  &__top{
    @apply text-xl;
  }
  &-day{
    @apply p-4 shadow-inner w-16 text-center;
    &.active{
      @apply bg-blue-dark text-white;
      &:hover{
        @apply bg-blue-dark text-white;
      }
    }
    &.disabled{
      @apply bg-blue-lightest;
      &:hover{
        @apply bg-blue-lightest;
      }
    }
    &:hover{
      @apply bg-blue-light text-white;
    }
  }
}

.equipment{
  background-image: url('/images/man.png');
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  &-categories-container{

  }
  &-category{
    @apply shadow mt-8;
    &__title{
      @apply text-black text-xl text-center font-bold border-b py-4;
      padding-right: 6rem;
      padding-left: 6rem;
    }
    &__items{
      @apply list-reset;

    }
  }
  &-item{
    @apply p-4 flex justify-between;
      &:hover{
        @apply bg-grey-light;
        cursor: pointer;
      }
  }
}

.coach-item{
  @apply flex-grow flex px-6 py-6 text-grey-darker items-center border-b;
  &:hover{
    @apply bg-blue-lightest;
    cursor: pointer;
  }
  &.active{
    @apply bg-grey-light;
  }
}

.time-item{
  @apply w-1/3 p-4 block float-left text-center text-black relative;
  &>a{
    @apply text-black ;
  }

  &.selected,&.in-selected{
    @apply bg-blue-light;
    &:hover{
      @apply bg-blue-light;
    }
  }

  &.disabled{
    @apply bg-teal-lightest;
    &>a{
      @apply text-grey;
    }
    &:hover{
      @apply bg-teal-lightest;
      cursor: no-drop;
    }
  }
  &.in-range{
    @apply bg-blue-lighter;
  }
  &:hover{
    @apply bg-green-lightest;
    cursor: pointer;
    .select-type{
      @apply visible;
    }
  }
  &.on-hover{
    @apply bg-blue-dark;
  }

  .select-type{
    @apply invisible absolute block w-full h-full text-grey-light pin-t pin-l text-sm;
  }



}

@tailwind utilities;